* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

header {
  width: 90vw;
  margin: 0.5rem auto 0;
  padding: 0.62rem;
}

h1 {
  font-size: 1.72rem;
  font-weight: bold;
  text-align: center;
  color: #502153;
}

#content {
  width: 95vw;
  margin: 0 auto;
  text-align: center;
}

.one-section {
  width: 90vw;
  margin: 0 auto;
}

.one-section > img {
  margin: 0 auto;
  height: 70vw;
  max-height: 28rem;

  width: 75vw;
  max-width: 28rem;
  transition: all ease 1s;
}

#error {
  margin: -1rem auto 1rem;
  color: #e6203b;
  font-size: 1rem;
}

#new-tec {
  width: 85vw;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#new-tec > input {
  width: 52vw;
  padding: 1rem;
  border: 1.5px solid #efedf0;
  border-radius: 8px;
  font-size: .9rem;
}

button {
  width: 31vw;
  max-width: 10rem;
  padding: 1.15rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 6px rgba(150, 144, 144, 0.3);
  background-color: #8a45aa;
  color: white;

  top: 0;
  position: relative;
  transition: all ease 0.3s;
}

#new-tec > button {
  width: 33vw;
}

.two-section {
  width: 90vw;
  margin: 2rem auto;
  place-items: center;
  text-align: center;
}

.content-tech {
  width: 85vw;
  margin: 0 auto;

  background-color: #eaecf3;
  border-radius: 5px 18px 18px 18px;
}

h2 {
  width: 85vw;
  margin: 0 auto;
  padding: 1.25rem;
  text-align: center;
  color: #502153;
}

#list {
  width: 85vw;
  height: 50vh;
  margin: 0 auto;
  overflow: auto;
}

.card {
  width: 75vw;
  height: 6vh;
  margin: 1rem auto;
  list-style: none;

  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 1rem;

  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 4px 6px rgba(126, 124, 124, 0.4);
}

.card > p {
  font-size: 1.1rem;
  text-align: center;
}

#img-del {
  width: 2rem;
  height: 2rem;
}

.buttons {
  margin: 2rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.check {
  text-decoration: line-through;
  color: #00a8b5;
}

#green {
  background-color: #1dcf52;
  color: white;
}

#red {
  background-color: #db152f;
  color: white;
}


/* ===== Animations ===== */

#new-tec > input:focus {
  border-color: purple;
  outline: none;
}

button:hover {
  opacity: 0.7;
  top: -0.5rem;
  border-radius: 10%;
  box-shadow: 4px 6px 15px rgba(26, 25, 25, 0.835);
}

button:focus {
  outline: none;
}

li:hover {
  cursor: pointer;
}


/* ===== Media Queries ===== */

@media only screen and (min-width: 700px) {   /* == Tablets == */
  .one-section > img {
    height: 60vw;
    width: 60vw;
  }

  #new-tec {
    max-width: 36rem;
  }

  #new-tec > input {
    max-width: 22.5rem;
  }

  #new-tec > button {
    max-width: 12.5rem;
  }

  .content-tech {
    max-width: 38rem;
  }

  h2 {
    max-width: 36rem;
  }

  #list {
    max-width: 36rem;
  }

  .card {
    max-width: 31rem;
  }

  .buttons {
    max-width: 36rem;
  }
}

@media only screen and (min-width: 900px) {   /* == Desktops == */
  header {
    width: 100%;
    margin: -3rem auto;
  }

  #content {
    margin: -3rem auto 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
  }

  .one-section {
    width: 50%;
    margin: 0 auto;
  }
  
  .one-section > img {
    margin: 0 auto;
    height: 60vh;
    width: 60vw;
    transition: all ease 1s;
  }

  .one-section > img:hover {
    max-height: 29rem;
    max-width: 29rem;
    margin-top: -1rem;
  }
  
  #new-tec {
    width: 50%;
    margin: 0 auto;
  
    display: grid;
    place-items: center;
    gap: 0.5rem;
  }
  
  #new-tec > input {
    max-width: 28rem;
  }

  #new-tec > button {
    max-width: 20rem;
    margin-top: .5rem;
  }

  .two-section {
    width: 50%;
    margin: 0 auto;
  }
  
  .content-tech {
    width: 100%;
    max-width: 44rem;

    height: auto;
    margin: 4rem auto 2rem;
  }
  
  h2 {
    width: 90%;
  }
  
  #list {
    width: 90%;
    margin: 0 auto;

    height: 22rem;
    max-height: 30rem;
    overflow: auto;
  }
  
  .card {
    width: 85%;
  }
  
  .buttons {
    width: 25rem;
    margin: 0 auto 1rem;
  }

}

@media only screen and (min-width: 1100px) {   /* == Desktops == */
  .one-section > img:hover {
    max-height: 31rem;
    max-width: 31rem;
    margin-top: -1rem;
  }
}
