* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

header {
  width: 90vw;
  margin: 1rem 1rem 0;
  padding: 10px;
}

h1 {
  font-size: 1.72rem;
  font-weight: bold;
  text-align: center;
  color: #502153;
}

main {
  width: 96vw;
  margin: 0 auto;
  text-align: center;
}

.one-section {
  width: 90vw;
  margin: 0 auto;
}

.one-section > img {
  margin: 0 auto;
  height: 70vw;
  width: 75vw;
}

#error {
  margin: 0 auto 1rem;
  color: #e6203b;
  font-size: 1rem;
}

#new-tec {
  width: 85vw;
  margin: 0 auto 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#new-tec > input {
  width: 42vw;
  padding: 17px;
  border: 2px solid #efedf0;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  padding: 1.15rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 6px rgba(150, 144, 144, 0.3);
  background-color: #ab4dd6;
  color: white;

  top: 0;
  position: relative;
  transition: all ease 0.3s;
}

#new-tec > button {
  width: 42vw;
}

.two-section {
  width: 90vw;
  margin: 0 auto;
  place-items: center;
  text-align: center;
}

.content-tech {
  width: 85vw;
  margin: 0 auto;

  background-color: #eaecf3;
  border-radius: 5px 18px 18px 18px;
}

h2 {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #502153;
}

ul {
  width: 80vw;
  height: 50vh;
  margin: 0 auto;
  padding: 20px;
}

.card {
  width: 75vw;
  height: 6vh;
  margin: 0 auto;
  list-style: none;

  display: flex;
  justify-content: space-between;
  padding: 10px;

  border-radius: 12px;
  background-color: white;
  box-shadow: 4px 4px 6px rgba(126, 124, 124, 0.4);
}

.card > p {
  font-size: 1.2rem;
  text-align: center;
}

#img {
  width: 2rem;
  height: 2rem;
}

.buttons {
  margin: 0.9rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.check {
  text-decoration: line-through;
  color: #00a8b5;
}

#green {
  background-color: #1bdd55;
  color: white;
}

#red {
  background-color: #db152f;
  color: white;
}

/* Animations */

#new-tec > input:focus {
  border-color: purple;
  outline: none;
}

button:hover {
  opacity: 0.7;
  top: -0.5rem;
  border-radius: 20%;
  box-shadow: 4px 4px 10px rgba(26, 25, 25, 0.835);
}

button:focus {
  outline: none;
}

span:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  section {
    margin-bottom: 30px;
    width: 85vw;
  }

  .btn button {
    margin: 0 7px;
  }

  /*.content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 45px;
    max-width: 95vw;
    height: 95vh;
    align-items: center;
    justify-content: center;
    margin: 0 45px;
}*/
}

@media only screen and (max-width: 748px) {
  .content {
    flex-direction: column;
    height: 100vh;
  }
}

/*.detail {
    background-color: rgba(71, 5, 71, 0.5);
    width: 7px;
    height: 32px;
}
*/
